
/* general */

html {
    background-color: #fff9f4;
    scroll-behavior: smooth;
}

/* structure */

.container {
    margin: 0 auto;
    max-width: 60vw;
    margin-top: 15vh;
    margin-left: 20vh;
    margin-right: 80vh;
}

.pane {
    margin-bottom: 10vh;
}
/* typography */

body {
    font-family: 'Libre Baskerville', serif;
    line-height: 120%;
    margin-bottom: 2.5vh;
}

/* section: home */

/* section: about */

/* section: writing */

/* footer */

footer {
    color: #002287;
    /* width: 60vw; */
    opacity: 70%;
    /* text-align: center; */
}



